<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    {{!-- Registrar un usuario --}}
    <div id="username-form">
        <h1>Ingrese su nombre de usuario</h1>
        <form action="">
            <input type="text" id="username" required>
            <button type="submit">Unirse al chat</button>
        </form>
    </div>

    {{!-- Mostrar los mensajes del chat --}}
    <div id="chat-form" style="display:none">
        <h1>Sala de chat</h1>
        <div id="chat-messages"></div>
        <form action="">
            <input type="text" id="message">
            <button type="submit">Enviar</button>
        </form>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>

</body>

</html>